@font-face {
    font-family: 'Roboto';
    src:local('Roboto-Black'),
    url("fonts/Roboto-Black.woff2") format("woff2"),
    url("fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:local('Roboto-Bold'),
    url("fonts/Roboto-Bold.woff2") format("woff2"),
    url("fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:  local('Roboto-Light'),
    url("fonts/Roboto-Light.woff2") format("woff2"),
    url("fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -0.75px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    opacity: 0.7;
}

ul li {
    list-style: none;
}
img {
    max-width: 100%;
}

body {
    font-family: 'Roboto';
    background-color: #f4f4f7;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    position: fixed;
    margin-bottom: 100px;
    z-index: 1;
}

.header__logo {
    margin-right: 120px;
    padding-left: 40px;
    padding-top: 40px;
}

.header__wrap {
    display: flex;
    background: linear-gradient(rgba(8, 121, 68, 0.5) 0%, rgba(34, 219, 117, 0.3) 50%, rgba(24, 37, 25, 0.8) 100%);
}

.menu {
    display: flex;
    padding-top: 40px;
}

.menu__list {
    display: flex;
    align-items: center;
    color: #f4f4f7;
}

.menu__item:not(:last-child) {
    margin-right: 52px;
}

.menu__link {
    padding: 10px 0;
}

.button__right {
    margin-left: auto;
    padding-top: 40px;
    padding-right: 50px;
}

.button__lang {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    color: #fff; 
    cursor: pointer;
    opacity: 0.7;
}

.button__lang:not(:last-child) {
    margin-right: 10px;
}

.button__lang:hover {
	opacity: 1;
}

.button__lang--active {
    border: 1px solid #fff;
    background-color: #b1def84d;
}
.button__theme {
    display:inline-block;
    width: 580px;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
    padding: 25px 100px 25px 200px; 
    background: linear-gradient(to bottom, rgba(28, 131, 33, 0.39) 0%, transparent 100%), url(img/ic-next.svg);
    background-position: 91%;
    background-repeat: no-repeat;
    opacity: .7;
}

.button__theme:hover {
    opacity: 1;
    transition: ease;
}

.description__view {
    position: relative;
    background-image:  url("img/back-min.jpg");
    background-image: -webkit-image-set(url("img/back-min.webp"));
    background-image: image-set("img/back-min.webp");
    margin-bottom: 100px;
    padding-top: 172px;
    z-index: 0;
}

.description__view::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.description__title {
    margin-bottom: 30px;
    padding: 0 200px;
}

.description__title {
    color: #f4f4f7;
}

.description__paragraf {
    color: #f4f4f7;
    font-size: 20px;
    padding: 0 200px;
    margin-bottom: 103px;
}

.service__style {
    background-color: #fff;
    padding-left: 200px;
    padding-bottom: 137px;
    margin-bottom: 100px;
}

.service__title {
    display: inline-block;
    max-width: 70%;
    margin-bottom: 30px;
    padding-top: 90px;
}

.service__description {
    font-size: 30px;
    line-height: 1.33;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    margin-bottom: 85px;
}

.service__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-self: start;
    margin-bottom: 70px;
}

.service__item {
    width: 240px;
}

.service__item:not(:last-child) {
    margin-right: 60px;
}

.service__item--icon {
    display: flex;
    background-color: #63c9e0;
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.service__item--description {
    margin: 0;
    max-width: 80%;
}

.service__hire {
    background-color: #f47e3d;
}

.service__digital {
    background-color: #d04b9b;
}

.service__item--description {
    font-weight: bold;
    line-height: 30px;
}

.ability__title {
    color: #c0c6c8;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 75px;
}

.ability__list {
    list-style: none;
    column-count: 2;
    column-gap: 65px;
    padding-right: 100px;
    margin-left: -55px;
}

.ability__item {
    position: relative;
    color: #2d2d42;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    padding-left: 56px;
}

.ability__item:not(:last-child) {
    margin-bottom: 27px;
}

.ability__item::before {
    content: "";
    position: absolute;
    background-color: #64cae1;
    width: 30px;
    height: 1px;
    top: 15px;
    left: 0;
}

h3 {
    text-transform: uppercase;
    margin: 0;
}

.project__title {
    padding-left: 200px;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 25px;
}

.project__description {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    padding-left: 200px;
    margin-bottom: 90px;
    color: #2d2d42;
} 

 .project__list { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project__item:not(:first-child) {
    max-width: 49%;
    min-height: 641px;
}

.project__image {
    display: block;
    width: 580px;
    height: 320px;
    margin-bottom: 40px;
    overflow: hidden;
}
.project__image--card {
    position: relative;
    margin-bottom: 20px;
}
.project__view {
    display: block;
    transition: .8s;
    cursor: pointer;
    overflow: hidden;
}

.project__view:hover {
    transform: scale(1.04);
    overflow: hidden;
}
.project__gamecard {
    position: absolute;
    background-color: #64cae1;
    width: 380px;
    height: 380px;
    top: 200px;
    left: 200px;
    color: #f4f4f7;
    padding: 40px;
}

.gamecard__title {
  margin-bottom: 40px;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
}

.gamecard__description {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
}

.card__title {
    margin-bottom: 30px;
    color: #2d2d42;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1.73px;
}

.card__description {
    color:#2d2d42;
    font-size: 30px;
    font-weight: 300;
    max-width: 440px;
}

.container__our-team {
    position: relative;
    margin-bottom: 100px;
}

.our-team__card {
    position: absolute;
    background-color: #f4f4f7;
    max-width: 380px;
    min-height: 380px;
    right: 200px;
    top: 200px;
    padding: 40px 40px 110px 40px;
}

.our-team__title {
    margin-bottom: 50px;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
}

.our-team__description {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
}

.event__title {
    padding-left: 200px;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -0.75px;
    color: #2d2d42;
    margin-bottom: 25px;

}

.event__description {
    padding-left: 200px;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    color: #2d2d42;
    margin-bottom: 90px;    
}

.event__image {
    display: block;
    padding-left: 200px;
}

.event__block {
    position: relative;
    margin-bottom: 80px;
}

.event__press {
    position: absolute;
    max-width: 400px;
    min-height: 380px;
    background-color: #f4f4f7;
    left: 0;
    bottom: 0;
}

.eventcard__title {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 30px;
    color: #2d2d42;
    padding: 40px 60px 0 0;
}

.eventcard__description {
    display: block;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    margin-bottom: 55px;
    color: #2d2d42;
    padding-right: 60px;
}

.eventcard__icon>img {
    margin-bottom: 48px;
}

.eventcard__button {
    height: 1px;
    width: 65px;
    background-color: #2d2d42;
    border-style: none;
    opacity: 0.6;
}
.eventcard__button:hover {
    padding: 3px 0;
    opacity: 0.3;
}

.eventcard__button--active {
    border: 2px solid #2d2d42;
}

.eventcard__button:not(:last-child) {
    margin-right: 8px;
}
.event__news__title {
    font-size: 13px;
    font-weight: 900;  
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 50px;
}
.event__news__list {
    display: flex;
    justify-content: space-between;
}

.event__news__item {
    max-width: 280px;
    min-height: 170px;
}

.event__news__item:not(:last-child) {
    margin-right: 120px;
}
.event__news__description {
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #2d2d42;
}

.event__news__date {
    color: #93a4a9;
}

.event__news {
    margin-bottom: 100px;
}

.footer__container {
    position: relative;
    width: 1180px;
    height: 720px;
    padding: 0;
    background-color: #000;
    z-index: 0;
}

.map {
    position: absolute;
    top: 180px;
    left: 249px;
    z-index: -1;
}

.map__norway {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #64cae1;
    border-radius: 50px;
    background-color: #64cae1;
    top: 75px;
    left: 420px;
}

.map__belarus {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #d04b9b;
    border-radius: 50px;
    background-color:#d04b9b;
    top: 100px;
    left: 505px;
}

.footer__title {
    display: inline-block;
    color: #f4f4f7;
}

.social__list {
    display: inline-flex;
    margin-left: auto;
    margin-bottom: 75px;
}

.social__item:not(:last-child) {
    margin-right: 25px;
}

.footer__title {
    padding: 100px 260px 75px 200px;
}

.footer__description {
    color: #f4f4f7;
    width: 50%;
    height: 80px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 200px;
    margin-bottom: 90px;
}

.location {
    display: inline-block;
    color: #f4f4f7;
    margin-bottom: 95px;
    padding-left: 200px;
}

.location__info {
    display: inline-block;
    max-width: 380px;
    font-family: 'Roboto';
    font-size: 15px;
}

.location__country {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
}

.location__name {
    margin-bottom: 8px;
}

.location__address {
    margin-bottom: 6px;
}

.location__mail {
    margin-bottom: 6px;
    display: inline-block;
    color: blue;
}

.location__phone {
    display: block;
    max-width: 130px;
}

.footer__copyright {
    color: #f4f4f7;
    opacity: 0.8;
}

.button__theme--color {
    display:inline-block;
    width: 580px;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
    background: url(img/ic-next.svg) #63c9e0;
    background-position: 91%;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: 300;
    padding: 25px 100px 25px 200px;
}
.footer__copyright {
    display: inline-block;
    margin-left: 118px;
    font-size: 20px;
    font-weight: 300;
}